#nav-bg {
  background-color: rgb(255, 207, 0);
  text-transform: uppercase;
  font-weight: 500;
  color: black;
  line-height: 1.1875rem;
  display: flex;
  justify-content: baseline;
}
.lego-logo {
  max-width: 15.5%;
  height: auto;
}
