#root {
  background-color: #ffc107;
}
#nav-bg {
  background-color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 500;
  color: black;
  line-height: 1.1875rem;
  display: flex;
  justify-content: baseline;
}
.lego-logo {
  max-width: 15.5%;
  height: auto;
}
.nav-icon {
  display: flex;
  justify-content: center;
}
.decrease-btn,
.increase-btn {
  background-color: rgb(253, 128, 36) !important;
  border: none !important;
  font-weight: bold !important;
}
.account-btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: block;
  background-color: white;
}
.account-btn a {
  text-decoration: none;
  font-size: 1rem;
  color: #0d6efd;
}
.account-btn img {
  width: 82%;
  display: block;
  margin: 0 auto;
  padding-top: 0.25rem;
}
.account-btn .text {
  position: relative;
  bottom: 1.75rem;
  right: 5.5rem;
  visibility: hidden;
  text-align: center !important;
  width: 7rem;
  text-transform: lowercase;
}
.account-btn:hover .text {
  visibility: visible;
  text-align: center !important;
}
.cart-btn {
  border: none !important;
  background: none !important;
}
.cart-icon {
  width: 2.5rem;
}
.cart-icon .text-cart {
  position: relative;
  bottom: 1.5rem;
  left: 3.25rem;
  visibility: hidden;
  text-align: center !important;
  color: #0d6efd;
}
.cart-icon:hover .text-cart {
  visibility: visible;
  text-align: center !important;
}
.cart-checkout-delete {
  background-color: #dc3545 !important;
  border: none !important;
}
.cart-checkout-delete:hover {
  background-color: #b02a37 !important;
}
.item {
  color: red !important;
}
.mb-4 h1 {
  margin: 8rem 0 2rem 0 !important;
  color: rgb(118, 111, 111) !important;
  font-size: 2rem !important;
}
.footer-container {
  width: 100%;
  height: 10rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45rem;
  box-shadow: 0 0.25rem 0.125rem 0.55rem rgba(0, 0, 0, 0.075) !important;
}
.footer-container h4 {
  font-size: 1rem;
  color: #6c757d;
}
.footer-container span {
  color: #212529;
}
.w-100:hover {
  background: none !important;
  border: rgb(253, 128, 36) solid 0.15rem !important;
  color: rgb(253, 128, 36) !important;
  -o-transition: all 0.4s ease-in-out !important;
  -webkit-transition: all 0.2s ease-in-out !important;
  transition: all 0.4s ease-in-out !important;
}
.sub-container {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 2rem;
}
.sub-container h2 {
  color: rgb(118, 111, 111);
}
.sub-container h4 {
  color: rgb(118, 111, 111);
}
.sub-container a {
  font-size: 1.25rem;
  text-decoration: none;
}
.sub-container a:hover {
  text-decoration: underline;
}
.offcanvas {
  width: 32.5rem !important;
}
.offcanvas-backdrop.show {
  opacity: 0.7 !important;
}
.discover-container {
  margin: 3rem 0 !important;
  color: rgba(0, 0, 0, 0.55);
  text-align: center;
  height: auto;
  width: 100%;
  padding-top: 1.5rem;
}
.discover-container img,
.holiday-container img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
.holiday-container {
  margin: 3rem 0 !important;
  color: rgba(0, 0, 0, 0.55);
  text-align: center;
  height: auto;
  width: 100%;
  padding-top: 1.5rem;
}
.holiday-container p {
  font-size: 1.5rem;
}
.holiday-container span {
  color: #1565c0;
}
.holiday-container button {
  width: 20rem;
  padding: 1rem;
  border-radius: 5rem;
  font-size: 1.75rem;
  margin-bottom: 3rem;
  border: none;
  color: white;
  background-color: #1565c0;
  border: solid 0.25rem #1565c0;
}
.holiday-container button:hover {
  border: solid 0.25rem white;
  background-color: rgb(253, 128, 36);
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.history-lego {
  width: 100%;
  height: auto;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.history-lego p {
  color: rgba(0, 0, 0, 0.55);
  text-align: left;
  font-size: 2rem;
}
.history-lego .name-lego {
  width: 48% !important;
  background-color: rgb(109, 205, 184);
  border-radius: 0.5rem;
  padding: 2rem;
}
.name-lego span,
.founded-lego span {
  color: rgb(48, 22, 105);
}
.history-lego .founded-lego {
  width: 48% !important;
  background-color: #f6a9bb;
  border-radius: 0.5rem;
  padding: 2rem;
}
.css-s7d5x3-MuiButtonGroup-root {
  width: 40% !important;
  box-shadow: none !important;
}
.css-s7d5x3-MuiButtonGroup-root button {
  height: 3rem !important;
  margin-bottom: 2rem !important;
  border-radius: 0.5rem !important;
}
.order-status-main {
  width: 38vw;
  height: 28rem;
  position: absolute;
  background-color: #a1cdff;
  left: 35rem;
  top: 0;
  border-radius: 0.5rem;
  color: #1565c0;
  font-size: 1.5rem;
  text-transform: lowercase;
}
.order-status-main img {
  max-width: 95%;
  border-radius: 0.25rem;
}
.order-status {
  width: 38vw;
  height: auto;
  position: absolute;
  background-color: #a1cdff;
  left: 35rem;
  top: 0;
  border-radius: 0.5rem;
  color: #1565c0;
  font-size: 1.5rem;
  text-transform: lowercase;
}
.order-status-main p,
.order-status p {
  margin: 2.5rem 0;
}
.checkout {
  width: 100%;
  height: auto;
  text-align: right;
}
.checkout button {
  background: none !important;
  border: none !important;
}
.checkout button a {
  background-color: rgb(253, 128, 36);
  border: none;
  color: #212529;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  text-decoration: none;
}
.checkout button a:hover {
  background-color: #ffc107;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #212529;
}
.checkout-container {
  margin: 3rem 0 !important;
  color: rgba(0, 0, 0, 0.55);
  text-align: center;
  border-top: solid rgba(0, 0, 0, 0.55) 0.15rem;
  height: auto;
  width: 100%;
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
}
.checkout-container span {
  font-size: 3rem;
  color: rgb(253, 128, 36);
}
.form-container {
  width: 48%;
  display: block;
  text-align: left;
}
.form-container form label {
  width: 100%;
  display: block;
}
.form-container form input {
  width: 100%;
  display: block;
  height: 3rem;
  border-radius: 0.25rem;
  border: none;
  padding-left: 1rem;
  margin-bottom: 0.75rem;
}
::placeholder {
  color: rgba(0, 0, 0, 0.25);
}
.seach-address {
  margin-top: 3rem;
  padding-bottom: 2rem;
  border-bottom: solid rgba(0, 0, 0, 0.55) 0.1rem;
  text-align: center;
}
/* credit Card */
.credit-container {
  width: 48%;
  display: block;
  text-align: left;
}
form {
  margin: 30px auto 0;
  max-width: 400px;
}
.front {
  position: relative;
  transform: rotateY(0deg);
  background-color: red;
}
.back {
  position: relative;
  transform: rotateY(180deg);
  background-color: yellow;
}
.rccs__card {
  height: 182.873px;
  margin-top: 10;
  margin-bottom: 10;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  width: 290px;
}
.front1 {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: red;
}
.back1 {
  transform: rotateY(360deg);
  margin-bottom: 30px !important;
  background-color: yellow;
}
.App-cards-list {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.App-cards-list > * {
  transform: scale(0.8);
  margin-bottom: 30px !important;
}
.back3 {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
}
.rccs__card--unknown > div {
  background: #20467e !important;
  border-radius: 0.35rem !important;
}
.form-control {
  color: #6c757d !important;
}
Button.submit-btn {
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 1rem;
  background-color: #20467e;
  border: solid 0.15rem #20467e;
  color: white;
}
.submit-btn:hover {
  color: #20467e;
  background-color: white;
  border: solid 0.15rem #20467e;
}
.inProgress {
  color: #6c757d;
  margin-top: 3rem;
}
.col {
  width: 100%;
  transition: 0.5s all ease-in-out;
}
.col:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.animation {
  animation-duration: 2.5s;
  animation-name: cars;
}
.animation-text {
  animation-duration: 2.5s;
  animation-name: text;
}
@keyframes cars {
  from {
    width: 480%;
    filter: blur(5px);
  }
  to {
    width: 100%;
    filter: blur(0);
  }
}
@keyframes text {
  from {
    width: 580%;
    filter: blur(5px);
  }
  to {
    width: 100%;
    filter: blur(0);
  }
}
input.location-search-input {
  width: 65%;
  height: 3.25rem;
  border-radius: 0.5rem;
  border: none;
  padding-left: 0.75rem;
}
.autocomplete-dropdown-container {
  width: 65%;
  margin: 0 auto;
  font-size: 15px !important;
}
